
<div class="row card" style="margin-left:25px; padding-top: 20px;">
  <form  [formGroup]="formModel" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <input type="file" (change)="onFileChanged($event)" name="image" class="form-control" style="background-color: #fff ; color: blue;"   />
    </div>
    <div class="form-group">
      <input type="text" id="tags" name="tags" formControlName="tags" style="background-color: #fff ; color: blue;" class="form-control"  placeholder="  Please provide Tags"  />
    </div>
    <div class="form-group">
      <select name="imgtype" id="imgtype" formControlName="imgtype" class="form-control"  >
        <option value="">Select Album</option>
        <option value="Images shared with me">Images shared with me</option>
        <option value="Night Out">Night Out</option>
        <option value="Silly">Silly</option>
        <option value="Flight">Flight</option>
      </select>
  </div>
    <div class="form-group">
        <button class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>

<div class="row card" style="margin-left:25px; margin-top: 20px;max-height: 420px; overflow-y: auto;">
  <table datatable class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Image Album </th>
            <th>Image</th>
            <th>Tag</th>
            <th>Geo-Location</th>
            <th>Capture By / Date</th>
            <th>Action</th>
            <th>Share</th>
        </tr>
    </thead>
    <tbody >
        <tr *ngFor="let upd of resData.result">
            <td>{{upd.imgtype}}</td>
            <td> <img src="http://localhost:43814/resources/images/{{upd.filename}}"  style="height:100px; width: 100px;"></td>
            <td>{{upd.tags}}</td>
            <td>{{upd.latitude}} / {{upd.longitude}}</td>
            <td>{{upd.userName}} / {{upd.captureDate}}</td>
            <td>
              <button id="remove" (click)="deleteRow($event)" value="{{upd.Id}}">Delete</button>
              <button type="button" value="{{upd.filename}}" class="btn btn-success" (click)="download($event)">Download</button>
            </td>
            <td>
              <form  [formGroup]="formModel1" (ngSubmit)="onSubmitShare()">
                <div class="form-group">
                  <input type="hidden" value="{{upd.Id}}" id="id" name="id" formControlName="id" />
                </div>
                <select  name="ShareWith" formControlName="ShareWith" required class="form-control" id="ShareWith">
                  <option *ngFor="let test of UserList" [value]="test.Id">{{test.FullName}}</option>
              </select> 
              <div class="form-group">
                <button class="btn btn-primary">Share</button>
            </div>
              </form>
            </td>
        </tr>
    </tbody>
  </table>
</div>