<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand text-white">Home</a>
  <button class="btn btn-danger my-2 my-sm-0" (click)="onLogout()">Logout</button>
</nav>

<div class="row mt-12" style="margin-top: 2%;">
<!-- <div class="card col-md-2" style="margin-left: 50px; max-height: 190px; padding-top: 10px;" *ngIf="userDetails">
  <ul class="list-group">
    <li class="list-group-item"><strong>Username : </strong>{{userDetails.userName}}</li>
    <li class="list-group-item"><strong>FullName : </strong>{{userDetails.fullName}}</li>
    <li class="list-group-item"><strong>Email : </strong>{{userDetails.email}}</li>
  </ul>
</div> -->
<div class="col-md-7">
  <app-upload></app-upload>
</div>
<div class="col-md-4">
  <app-shared-datawithme></app-shared-datawithme>
</div>
</div>
